/* Basic page set up */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #000;
  }

/* Hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    z-index: -2;
}
#hero-img {
    background-image: url(../images/hubble-hero-2.jpg);
    height: 568px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
    top: 0;
    margin-top: 10vh;
}

/* Logo and hamburger menu */
#logo {
    font-family: Arial, Helvetica, sans-serif;
    color: #80b0bb;
    float: left;
    font-size: 140%;
    margin-left: 0px;
    /* margin-top: 15px; */
    text-decoration: underline;
}

.active {
    border-bottom:1px solid #80b0bb;
}

#hamburger-menu {
    font-size: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    height: 50px;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 10;
}
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu > li {
    margin: 0 1rem;
}
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu-toggle {
    display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #80b0bb;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 600ms cubic-bezier(0.25, 1, 0.25, 1);
    border-radius: 2px;
}
.menu-button::before {
    content: '';
    margin-top: -8px;
}
.menu-button::after {
    content: '';
    margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
}

/* Back to top button, button also informs users of the current page */

.back-to-top {
    color:#ccc;
    font-size: 75%;
    text-decoration: none;
    float: right;
    font-family: sans-serif;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 100px;
    bottom: 20px;
    place-self: end;
    position: sticky;
    z-index: 5;
}
  
.back-to-top:hover {
    color:#de8858;
    box-shadow: 0px 0px 40px #ffcc66;
}

/* footer */

footer {
    height: 80px;
}
  
footer ul {
    margin-left: 22%;
}
footer > p {
    color: #80b0bb;
    margin: 0%;
    font-size: 75%;
    text-align:center;
    text-decoration: underline;
    border: 4px solid #000;
    background-color: #000;
}
#footer-about {
    height: 80px;
}
  
#footer-about ul {
    margin-left: 0%;
}
#footer-about > p {
    color: #80b0bb;
    margin: 0%;
    font-size: 75%;
    text-align:center;
    text-decoration: underline;
    border: 4px solid #000;
    background-color: #000;
}
.social-media-operations {
    text-align: center;
    margin-left: 29%;
    margin-top: 2.5vh;
}
.social-media-operations > li {
    display: inline-block;
    text-align: center;
    margin: 2px;
    margin-top: 120px;
}
.social-media-operations i {
    font-size: 160%;
    color: #333;
}
.social-media {
    text-align: center;
} 
.social-media > li {
    display: inline-block;
    text-align: center;
    margin: 2px;
    margin-top: 120px;
}
.social-media i {
    font-size: 160%;
    color: #333;
}
.social-media-about {
    text-align: center;
} 
.social-media-about > li {
    display: inline-block;
    text-align: center;
    margin: 2px;
    margin-top: 120px;
}
.social-media-about i {
    font-size: 160%;
    color: #333;
}
.fa-brands:hover {
    border-radius: 50%;
    background: #de8858;
    box-shadow: 0px 0px 40px 15px #ffcc66;
}

  
/* Embedded Video */

#vid {
    background-color: #000;
    text-align: center;
}
iframe {
    height: 300px;
    border: none;
}

/* Styling for the text, borders and scroll style of different pages */
p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    z-index: 3;
    background-color: rgba(0, 0, 0);
    margin: 8px;
    color:#ccc
}

.home-scroll-style {
    color: #ccc;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* margin-top: 10vh; */
    margin-bottom: 0px;
    padding: 10px;
  }
  
  .home-scroll-style > p {
    background-color: rgba(0, 0, 0, 0);
  }

  .about-scroll-style {
    color: #ccc;
    height: 100%;
    width: 100%;
    background-color: #000;
    /* margin-top: 10vh; */
    margin-bottom: 0px;
    position: sticky;
    top: 0;
  }
  
  .about-p-styling {
    color: #ccc;
    background: rgba(0, 0, 0, 0.5);
    margin: 0px;
    top: 0;
    bottom: 0;
    /* margin-top: -6px; */
    padding: 26px;
  }

  .operation-style {
    margin-left: -20px;
    width: 100%;
    color: #ccc;
    padding: 10px;
  }
  
  .operations-style h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color:#ccc;
    padding: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .operations-style p {
    margin: 15px;
    margin-top: -5px;
  }
  
  .operations-style li {
    color: #80b0bb;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 0px;
  }
  
  .operations-style > ul > p{
    background-color: rgba(0, 0, 0, 0.0);
    /* margin-left: -15px; */
  }
  
  .operations-style > ul > li {
    background-color: rgba(0, 0, 0, 0.0);
    margin-left: 40px;
  }
  
  .operations-style > p {
    margin: 0px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .operations-style > ul {
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  li ~ p {
    margin-top: -1px;
    padding: 20px;
    margin-right: 20px;
  }
  
  li {
    color:#ccc;
  }

  /* images */
  /* image on the home page */
#exo-planet-home {
    width: 100%;
}

/* images on the about page */
#ring-nebula {
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: -1;
}
#lagoon-nebula {
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: -1;
}
#eagle-nebula {
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: -1;
}
#moon {
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: -1;
}
#exo-planet-about {
    width: 100%;
}
#saturn5 {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: -1;
}
#pillar-jets {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: -1;
}

#exo-planet-operations {
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: -1;
    margin-top: -5px;
    margin-bottom: -34vh;
    z-index: 5;
  }
  
  #operations-footer-img {
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
    margin-bottom: -32vh;
    z-index: -1;
  }

/* images on the gallery page */
#pics {
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: 0px;
    margin-top: -595px;
  }
  
  #pics > img {
    width: 100%;
  }

  /* media queries */
  @media (max-width: 712px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        right: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height .400ms cubic-bezier(0.25, 0.1, 0.25, 1.0);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height .400ms cubic-bezier(0.25, 0.1, 0.25, 1.0);
    }
    #menu-toggle ~ .menu li a {
        color: rgb(0, 0, 0, 0);     
    }
    .menu li a {
        border-bottom:1px solid rgb(0, 0, 0, 0); 
    }
    #menu-toggle:checked ~ .active {
        border-bottom:1px solid #ccc;
    }
    #menu-toggle:checked ~ .menu li a {
        color: #80b0bb;
    }
    #menu-toggle:checked ~ .menu li a:hover {
        color:#de8858;
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        background-color: #000;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
    }

    @media screen and (min-width:358px) and (max-width:411px){
    #logo {
        font-size: 160%;
    }    
    #hero-outer {
        height: 600px
    }
    #hero-img {
        height: 600px;
    }
    #exo-planet-home {
        margin-bottom: 50px;
    }
    #pics {
        margin-bottom: 8vh;
    }
    .social-media-about {
        margin-top: 10vh;
    }
        
    }

    @media screen and (min-width:412px) and (max-width:470px){
    #logo {
        font-size: 180%;
    }    
    }

    @media screen and (min-width:478px) and (max-width:567) {
    #logo {
        font-size: 200%;
        }
        
    }