
/* Basic page set up */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    background-color: #000;
  }

/* Hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    z-index: -2;
}
#hero-img {
    background-image: url(../images/hubble-hero-2.jpg);
    height: 568px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
}
